<div id="header_wrap" class="outer">
	<header class="inner">
		<h1 id="project_title"><a name="is-uw-winkel-klaar-voor-de-toekomst" class="anchor" href="#is-uw-winkel-klaar-voor-de-toekomst"><span class="octicon octicon-link"/></a>IS UW WINKEL KLAAR VOOR DE TOEKOMST?
        </h1>
		<h2 id="project_tagline"><a name="vakseminar-voor-ambachtelijke-verswinkels-over-de-aandachtspunten-voor-de-toekomst" class="anchor" href="#vakseminar-voor-ambachtelijke-verswinkels-over-de-aandachtspunten-voor-de-toekomst"><span class="octicon octicon-link"/></a>Vakseminar voor ambachtelijke verswinkels over de aandachtspunten voor de toekomst
        </h2>
	</header>
</div>
