<table>
  <tbody>
    <tr>
      <td>Image 1</td>
      <td>Image 2</td>
      <td>Image 3</td>
    </tr>
    <tr>
      <td>
        <h3>GERICHT WERKEN AAN MEER OMZET!</h3>
      </td>
      <td>
        <h3>SUCCESVOL OP INTERNET!</h3>
      </td>
      <td>
        <h3>UW MEDEWERKERS MEER LATEN VERKOPEN!</h3>
      </td>
    </tr>
    <tr>
      <td>Marten Faber is directeur van Bens Reclame &amp; Marketing, Bens Verspromotie en CooperSmith Organisatieadvies.
        Deze drie bedrijven adviseren dagelijks ondernemers bij verkoopbevordering. Een thema wat momenteel in elke branche actueel is, ook in de versbranche. Op de vraag ‘Hoe u meer kunt verkopen?’ heeft Faber een uitgesproken en duidelijke visie waarmee hij u zeker wil inspireren tijdens deze avond!
      </td>
      <td>Marten Faber is directeur van Bens Reclame &amp; Marketing, Bens Verspromotie en CooperSmith Organisatieadvies.
        Deze drie bedrijven adviseren dagelijks ondernemers bij verkoopbevordering. Een thema wat momenteel in elke branche actueel is, ook in de versbranche. Op de vraag ‘Hoe u meer kunt verkopen?’ heeft Faber een uitgesproken en duidelijke visie waarmee hij u zeker wil inspireren tijdens deze avond!
      </td>
      <td>Marten Faber is directeur van Bens Reclame &amp; Marketing, Bens Verspromotie en CooperSmith Organisatieadvies.
        Deze drie bedrijven adviseren dagelijks ondernemers bij verkoopbevordering. Een thema wat momenteel in elke branche actueel is, ook in de versbranche. Op de vraag ‘Hoe u meer kunt verkopen?’ heeft Faber een uitgesproken en duidelijke visie waarmee hij u zeker wil inspireren tijdens deze avond!
      </td>
    </tr>
  </tbody>
</table>