---
layout: default
---

	<section id="home">
		<div class="content">
			<div class="limit">
				<article class="text">
					<p>Als versondernemer staat u voor de uitdaging om naast uw functie als vakman, uw aandacht steeds meer te richten op ondernemen. De tijd vraagt erom. Nadenken over de wijze waarop je met je bedrijf succesvol kunt zijn en blijven wordt voor veel verswinkels steeds belangrijker. Die taak is niet altijd even eenvoudig in te vullen omdat er onderwerpen bij komen kijken waar versondernemers vaak niet voldoende ervaring mee hebben en waarvoor ze te weinig tijd kunnen vrijmaken.</p>
					<p>Er is onderzoek gedaan naar de versbranche. Wat blijkt is dat de kwaliteit bij de meeste winkels wel in orde is, maar dat de wijze waarop verswinkels invulling geven aan promotie, presentatie en omzetbevordering nog vaak te wensen overlaat. Er zijn nog veel winkels die niet of niet goed invulling geven aan deze thema’s. Daar laten ondernemers kansen liggen, temeer omdat de concurrent dit juist wel goed doet. Met het vak-seminar willen wij u informeren én inspireren over deze onderwerpen. Wij hebben sprekers uitgenodigd die u op een boeiende wijze laten zien op welke wijze u met uw winkel succesvolle stappen kunt maken naar een commercieel gezonde toekomst.</p>
				</article>
				<aside class="sidebar">
					<div class="info">
						<h3>VOOR WIE IS DIT VAKSEMINAR INTERESSANT?</h3>
						<p>Deze vakseminar is speciaal bedoeld voor</p>
						<ul>
							<li><span>Ambachtelijke slagers</span></li>
							<li><span>Ambachtelijke poeliers</span></li>
							<li><span>Kaas- en delicatessenwinkels</span></li>
						</ul>
					</div>
					<div class="info last">
						<h3>WANNEER EN WAAR?</h3>
						<p>Donderdag 14 oktober a.s. aanvang 19,30 uur</p>
						<address>
							<ul>
								<li>Restaurant Van der Valk</li>
								<li>Straatnaam 23, Plaatsnaam</li>
								<li><a href="#">routebeschrijving</a></li>
							</ul>
						</address>
					</div>
					<div class="banner">
						<a class="sign-up" href="#sign-up">Schrijf u hier gratis in voor dit vakseminar</a>
					</div>
				</aside>
			</div>
		</div>
		<section class="speakers-topics">
			<div class="limit">
				<h2>SPREKERS EN ONDERWERPEN</h2>
				<ul>
					<li>
						<a href="#speakers">
							<figure>
								<img src="images/image-man1.jpg" alt="GERICHT WERKEN AAN MEER OMZET!" />
								<figcaption>
									<h4>GERICHT WERKEN AAN MEER OMZET!</h4>
									<p>Op de vraag ‘Hoe u gericht kunt werken aan uw omzet?’ heeft Marten Faber, directeur van [Bens](http://www.bensverspromotie.nl) een uitgesproken en duidelijke visie</p>
								</figcaption>
							</figure>
						</a>
					</li>
					<li>
						<a href="#speakers">
							<figure>
								<img src="images/image-man2.jpg" alt="SUCCESVOL OP INTERNET!" />
								<figcaption>
									<h4>SUCCESVOL OP INTERNET!</h4>
									<p>Matthijs de Graaf van [Shopforce](http://www.shopforce.nl) presenteert hoe 'online' de levensmiddelenmarkt gaat veranderen en hoe u daar slim op in kunt spelen</p>
								</figcaption>
							</figure>
						</a>
					</li>
					<li>
						<a href="#speakers">
							<figure>
								<img src="images/image-man3.jpg" alt="UW MEDEWERKERS MEER LATEN VERKOPEN!" />
								<figcaption>
									<h4>UW MEDEWERKERS MEER LATEN VERKOPEN!</h4>
									<p>Jan Traanman van [Stichting Vakopleiding](http://www.svo.nl) heeft een interessante visie hoe u uw medewerkers in uw winkwl meer kunt laten verkopen</p>
								</figcaption>
							</figure>
						</a>
					</li>
				</ul>
			</div>
		</section>
	</section>

	<section id="sign-up">
		<div class="content">
			<div class="limit">
				<div class="form">
					{% include form.html %}
				</div>
				<aside class="sidebar">
					<div class="banner">
						<span class="place" href="#">MAAK KANS OP EEN GRATIS MARKETINGCHECK VAN UW WINKEL T.W.V. 450,-</span>
					</div>
				</aside>
			</div>
		</div>
	</section>

	<section id="speakers">
		<div class="content">
			<div class="limit">
				{% include speakers.html %}
			</div>
		</div>
	</section>

