<div class="ss-header-image-container">
    <div class="ss-header-image-image">
        <div class="ss-header-image-sizer"></div>
    </div>
</div>
<div class="ss-top-of-page">
    <div class="ss-form-heading">
        <div aria-hidden="true" class="ss-required-asterisk">* Verplicht</div>
    </div>
</div>

<form onsubmit="" target="_self" id="ss-form" method="POST"
      action="https://docs.google.com/forms/d/1GJzDMy2l5aDfVN6yOxqzOX-p_r7Unjr6e5Dnf9nDIyY/formResponse">
<ol style="padding-left: 0" class="ss-question-list" role="list">
<div role="listitem" class="ss-form-question errorbox-good">
    <div class="ss-item ss-item-required ss-text" dir="ltr">
        <div class="ss-form-entry">
            <label for="entry_1970633074" class="ss-q-item-label">
                <div class="ss-q-title">Bedrijfsnaam
                    <label aria-label="(Required field)" for="itemView.getDomIdToLabel()"></label>
                    <span class="ss-required-asterisk">*</span></div>
                <div dir="ltr" class="ss-q-help ss-secondary-text"></div>
            </label>
            <input type="text" title="" required="" aria-required="true" aria-label="Bedrijfsnaam  " dir="auto"
                   id="entry_1970633074" class="ss-q-short" value="" name="entry.1970633074">

            <div id="985444158_errorMessage" class="error-message"></div>
            <div class="required-message">Dit is een verplicht veld</div>
        </div>
    </div>
</div>
<div role="listitem" class="ss-form-question errorbox-good">
    <div class="ss-item ss-item-required ss-text" dir="ltr">
        <div class="ss-form-entry">
            <label for="entry_257794048" class="ss-q-item-label">
                <div class="ss-q-title">Contactpersoon
                    <label aria-label="(Required field)" for="itemView.getDomIdToLabel()"></label>
                    <span class="ss-required-asterisk">*</span></div>
                <div dir="ltr" class="ss-q-help ss-secondary-text"></div>
            </label>
            <input type="text" title="" required="" aria-required="true" aria-label="Contactpersoon  " dir="auto"
                   id="entry_257794048" class="ss-q-short" value="" name="entry.257794048">

            <div id="1887478813_errorMessage" class="error-message"></div>
            <div class="required-message">Dit is een verplicht veld</div>
        </div>
    </div>
</div>
<div role="listitem" class="ss-form-question errorbox-good">
    <div class="ss-item  ss-text" dir="ltr">
        <div class="ss-form-entry">
            <label for="entry_575282860" class="ss-q-item-label">
                <div class="ss-q-title">Website</div>
                <div dir="ltr" class="ss-q-help ss-secondary-text"></div>
            </label>
            <input type="text" title="" aria-label="Website  " dir="auto" id="entry_575282860" class="ss-q-short"
                   value="" name="entry.575282860">

            <div id="1498795658_errorMessage" class="error-message"></div>
            <div class="required-message">Dit is een verplicht veld</div>
        </div>
    </div>
</div>
<div role="listitem" class="ss-form-question errorbox-good">
    <div class="ss-item ss-item-required ss-text" dir="ltr">
        <div class="ss-form-entry">
            <label for="entry_175125049" class="ss-q-item-label">
                <div class="ss-q-title">E-mail
                    <label aria-label="(Required field)" for="itemView.getDomIdToLabel()"></label>
                    <span class="ss-required-asterisk">*</span></div>
                <div dir="ltr" class="ss-q-help ss-secondary-text"></div>
            </label>
            <input type="email" title="Must be a valid email address" required="" aria-required="true"
                   aria-label="E-mail  Must be a valid email address" dir="auto" id="entry_175125049" class="ss-q-short"
                   value="" name="entry.175125049">

            <div id="1627577261_errorMessage" class="error-message">Geeft u aub een geldig e-mailadres op</div>
            <div class="required-message">Dit is een verplicht veld</div>
        </div>
    </div>
</div>
<div role="listitem" class="ss-form-question errorbox-good">
    <div class="ss-item ss-item-required ss-text" dir="ltr">
        <div class="ss-form-entry">
            <label for="entry_1001808259" class="ss-q-item-label">
                <div class="ss-q-title">Adres (straatnaam en huisnummer)
                    <label aria-label="(Required field)" for="itemView.getDomIdToLabel()"></label>
                    <span class="ss-required-asterisk">*</span></div>
                <div dir="ltr" class="ss-q-help ss-secondary-text"></div>
            </label>
            <input type="text" title="" required="" aria-required="true" aria-label="Adres (straatnaam en huisnummer)  "
                   dir="auto" id="entry_1001808259" class="ss-q-short" value="" name="entry.1001808259">

            <div id="1072525715_errorMessage" class="error-message"></div>
            <div class="required-message">Dit is een verplicht veld</div>
        </div>
    </div>
</div>
<div role="listitem" class="ss-form-question errorbox-good">
    <div class="ss-item ss-item-required ss-text" dir="ltr">
        <div class="ss-form-entry">
            <label for="entry_346829825" class="ss-q-item-label">
                <div class="ss-q-title">Postcode
                    <label aria-label="(Required field)" for="itemView.getDomIdToLabel()"></label>
                    <span class="ss-required-asterisk">*</span></div>
                <div dir="ltr" class="ss-q-help ss-secondary-text"></div>
            </label>
            <input type="text" title="" required="" aria-required="true" aria-label="Postcode  " dir="auto"
                   id="entry_346829825" class="ss-q-short" value="" name="entry.346829825">

            <div id="483136882_errorMessage" class="error-message"></div>
            <div class="required-message">Dit is een verplicht veld</div>
        </div>
    </div>
</div>
<div role="listitem" class="ss-form-question errorbox-good">
    <div class="ss-item ss-item-required ss-text" dir="ltr">
        <div class="ss-form-entry">
            <label for="entry_34583685" class="ss-q-item-label">
                <div class="ss-q-title">Plaatsnaam
                    <label aria-label="(Required field)" for="itemView.getDomIdToLabel()"></label>
                    <span class="ss-required-asterisk">*</span></div>
                <div dir="ltr" class="ss-q-help ss-secondary-text"></div>
            </label>
            <input type="text" title="" required="" aria-required="true" aria-label="Plaatsnaam  " dir="auto"
                   id="entry_34583685" class="ss-q-short" value="" name="entry.34583685">

            <div id="869863522_errorMessage" class="error-message"></div>
            <div class="required-message">Dit is een verplicht veld</div>
        </div>
    </div>
</div>
<div role="listitem" class="ss-form-question errorbox-good">
    <div class="ss-item ss-item-required ss-text" dir="ltr">
        <div class="ss-form-entry">
            <label for="entry_1013074578" class="ss-q-item-label">
                <div class="ss-q-title">Telefoonnummer
                    <label aria-label="(Required field)" for="itemView.getDomIdToLabel()"></label>
                    <span class="ss-required-asterisk">*</span></div>
                <div dir="ltr" class="ss-q-help ss-secondary-text"></div>
            </label>
            <input type="text" title="" required="" aria-required="true" aria-label="Telefoonnummer  " dir="auto"
                   id="entry_1013074578" class="ss-q-short" value="" name="entry.1013074578">

            <div id="282852717_errorMessage" class="error-message"></div>
            <div class="required-message">Dit is een verplicht veld</div>
        </div>
    </div>
</div>
<div role="listitem" class="ss-form-question errorbox-good">
    <div class="ss-item ss-item-required ss-radio" dir="ltr">
        <div class="ss-form-entry">
            <label for="entry_1376930259" class="ss-q-item-label">
                <div class="ss-q-title">Type verswinkel
                    <label aria-label="(Required field)" for="itemView.getDomIdToLabel()"></label>
                    <span class="ss-required-asterisk">*</span></div>
                <div dir="ltr" class="ss-q-help ss-secondary-text"></div>
            </label>
            <ul aria-label="Type verswinkel  " role="radiogroup" class="ss-choices">
                <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input
                        type="radio" aria-required="true" required="" aria-label="Ambachtelijke slager"
                        class="ss-q-radio" role="radio" id="group_943356510_1" value="Ambachtelijke slager"
                        name="entry.943356510"></span>
                    <span class="ss-choice-label">Ambachtelijke slager</span>
                </label>
                </li>
                <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input
                        type="radio" aria-required="true" required="" aria-label="Ambachtelijke poelier"
                        class="ss-q-radio" role="radio" id="group_943356510_2" value="Ambachtelijke poelier"
                        name="entry.943356510"></span>
                    <span class="ss-choice-label">Ambachtelijke poelier</span>
                </label>
                </li>
                <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input
                        type="radio" aria-required="true" required="" aria-label="Kaas- en delicatessewinkel"
                        class="ss-q-radio" role="radio" id="group_943356510_3" value="Kaas- en delicatessewinkel"
                        name="entry.943356510"></span>
                    <span class="ss-choice-label">Kaas- en delicatessewinkel</span>
                </label>
                </li>
                <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input
                        type="radio" aria-required="true" required="" class="ss-q-radio ss-q-other-toggle" role="radio"
                        id="group_943356510_4" value="__other_option__" name="entry.943356510"></span>
                    <span class="ss-choice-label">Ander</span></label>
                    <span class="ss-q-other-container goog-inline-block"><input type="text" aria-label="Other"
                                                                                dir="auto"
                                                                                id="entry_943356510_other_option_response"
                                                                                class="ss-q-other" value=""
                                                                                name="entry.943356510.other_option_response"></span>
                </li>
            </ul>
            <div id="1376930259_errorMessage" class="error-message"></div>
            <div class="required-message">Dit is een verplicht veld</div>
        </div>
    </div>
</div>
<div role="listitem" class="ss-form-question errorbox-good">
    <div class="ss-item ss-item-required ss-select" dir="ltr">
        <div class="ss-form-entry">
            <label for="entry_557521065" class="ss-q-item-label">
                <div class="ss-q-title">Met hoeveel personen komt u? (maximaal 2)
                    <label aria-label="(Required field)" for="itemView.getDomIdToLabel()"></label>
                    <span class="ss-required-asterisk">*</span></div>
                <div dir="ltr" class="ss-q-help ss-secondary-text"></div>
            </label>
            <select required="" aria-required="true" aria-label="Met hoeveel personen komt u? (maximaal 2)  "
                    id="entry_557521065" name="entry.557521065">
                <option value=""></option>
                <option value="1 persoon">1 persoon</option>
                <option value="2 personen">2 personen</option>
            </select>

            <div class="required-message">Dit is een verplicht veld</div>
        </div>
    </div>
</div>
<hr/>
<div role="listitem" class="ss-form-question errorbox-good last">
    <div class="ss-item ss-item-required ss-radio" dir="ltr">
        <div class="ss-form-entry">
            <label for="entry_815979683" class="ss-q-item-label">
                <div class="ss-q-title">Tijdens de vakseminar maakt u kans op één van de 10 gratis marketingchecks van
                    uw winkel die we onder de deelnemers verloten. Een marketingspecialist zal uw winkel beoordelen
                    waarna u tips, adviezen en aanbevelingen krijgt om de verkoopkansen in uw winkel te verbeteren. Met
                    de winnaars wordt contact opgenomen om hiervoor een afspraak te maken.
                    <label aria-label="(Required field)" for="itemView.getDomIdToLabel()"></label>
                    <span class="ss-required-asterisk">*</span></div>
                <div dir="ltr" class="ss-q-help ss-secondary-text"></div>
            </label>
            <ul aria-label="Tijdens de vakseminar maakt u kans op één van de 10 gratis marketingchecks van uw winkel die we onder de deelnemers verloten. Een marketingspecialist zal uw winkel beoordelen waarna u tips, adviezen en aanbevelingen krijgt om de verkoopkansen in uw winkel te verbeteren. Met de winnaars wordt contact opgenomen om hiervoor een afspraak te maken.  "
                role="radiogroup" class="ss-choices">
                <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input
                        type="radio" aria-required="true" required="" aria-label="Ja, wij maken graag kans"
                        class="ss-q-radio" role="radio" id="group_1647531399_1" value="Ja, wij maken graag kans"
                        name="entry.1647531399"></span>
                    <span class="ss-choice-label">Ja, wij maken graag kans</span>
                </label>
                </li>
                <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input
                        type="radio" aria-required="true" required="" aria-label="Nee, is voor ons niet nodig"
                        class="ss-q-radio" role="radio" id="group_1647531399_2" value="Nee, is voor ons niet nodig"
                        name="entry.1647531399"></span>
                    <span class="ss-choice-label">Nee, is voor ons niet nodig</span>
                </label>
                </li>
            </ul>
            <div id="815979683_errorMessage" class="error-message"></div>
            <div class="required-message">Dit is een verplicht veld</div>
        </div>
    </div>
</div>
<input type="hidden" value="[,,&quot;-3000042827753337573&quot;]
         " name="draftResponse">
<input type="hidden" value="0" name="pageHistory">
<input type="hidden" value="-3000042827753337573" name="fbzx">

<div class="ss-item ss-navigate">
    <table id="navigation-table">
        <tbody>
        <tr>
            <td dir="ltr" id="navigation-buttons" class="ss-form-entry goog-inline-block">
                <input type="submit" id="ss-submit" value="Verstuur inschrijving" name="submit">
            </td>
        </tr>
        </tbody>
    </table>
</div>
</ol>
</form>