<ul>
  <li>
      <figure>
        <img src="images/image-man1.jpg" alt="GERICHT WERKEN AAN MEER OMZET!" />
        <figcaption>
          <h4>GERICHT WERKEN AAN MEER OMZET!</h4>
          <p>Marten Faber is directeur van Bens Reclame &amp; Marketing, Bens Verspromotie en CooperSmith Organisatieadvies. Deze drie bedrijven adviseren dagelijks ondernemers bij verkoopbevordering. Een thema wat momenteel in elke branche actueel is, ook in de versbranche. Op de vraag ‘Hoe u meer kunt verkopen?’ heeft Faber een uitgesproken en duidelijke visie waarmee hij u zeker wil inspireren tijdens deze avond!</p>
          <ul>
            <li><a href="http://www.bens.nl">www.bens.nl</a></li>
            <li><a href="http://www.bensverspromotie.nl">www.bensverspromotie.nl</a></li>
            <li><a href="http://www.coopersmith.nl">www.coopersmith.nl</a></li>
          </ul>
        </figcaption>
      </figure>
  </li>
  <li>
      <figure>
        <img src="images/image-man2.jpg" alt="SUCCESVOL OP INTERNET!" />
        <figcaption>
          <h4>SUCCESVOL OP INTERNET!</h4>
          <p>Marten Faber is directeur van Bens Reclame &amp; Marketing, Bens Verspromotie en CooperSmith Organisatieadvies. Deze drie bedrijven adviseren dagelijks ondernemers bij verkoopbevordering. Een thema wat momenteel in elke branche actueel is, ook in de versbranche. Op de vraag ‘Hoe u meer kunt verkopen?’ heeft Faber een uitgesproken en duidelijke visie waarmee hij u zeker wil inspireren tijdens deze avond!</p>
          <ul>
            <li><a href="http://www.shopforce.nl">www.shopforce.nl</a></li>
          </ul>
        </figcaption>
      </figure>
  </li>
  <li>
      <figure>
        <img src="images/image-man3.jpg" alt="UW MEDEWERKERS MEER LATEN VERKOPEN!" />
        <figcaption>
          <h4>UW MEDEWERKERS MEER LATEN VERKOPEN!</h4>
          <p>Marten Faber is directeur van Bens Reclame &amp; Marketing, Bens Verspromotie en CooperSmith Organisatieadvies. Deze drie bedrijven adviseren dagelijks ondernemers bij verkoopbevordering. Een thema wat momenteel in elke branche actueel is, ook in de versbranche. Op de vraag ‘Hoe u meer kunt verkopen?’ heeft Faber een uitgesproken en duidelijke visie waarmee hij u zeker wil inspireren tijdens deze avond!</p>
          <ul>
            <li><a href="http://www.svo.nl">www.svo.nl</a></li>
          </ul>
        </figcaption>
      </figure>
  </li>
</ul>
