<ul>
  <li>
      <figure>
        <img src="images/image-man1.jpg" alt="GERICHT WERKEN AAN MEER OMZET!" />
        <figcaption>
          <h4>GERICHT WERKEN AAN MEER OMZET!</h4>
          <p>Marten Faber is directeur van <a href="http://www.bens.nl" target="_blank">Bens Reclame &amp; Marketing</a>, <a href="http://www.bensverspromotie.nl" target="_blank">Bens Verspromotie</a> en <a href="http://www.coopersmith.nl" target="_blank">CooperSmith Organisatieadvies</a>. Deze drie bedrijven adviseren dagelijks ondernemers bij verkoopbevordering. Een thema wat momenteel in elke branche actueel is, ook in de versbranche. Op de vraag ‘Hoe u meer kunt verkopen?’ heeft Faber een uitgesproken en duidelijke visie waarmee hij u zeker wil inspireren tijdens deze avond!</p>
          <ul>
            <li><a href="http://www.bens.nl" target="_blank">www.bens.nl</a></li>
            <li><a href="http://www.bensverspromotie.nl" target="_blank">www.bensverspromotie.nl</a></li>
            <li><a href="http://www.coopersmith.nl" target="_blank">www.coopersmith.nl</a></li>
          </ul>
        </figcaption>
      </figure>
  </li>
  <li>
      <figure>
        <img src="images/image-man2.jpg" alt="SUCCESVOL OP INTERNET!" />
        <figcaption>
          <h4>SUCCESVOL OP INTERNET!</h4>
          <p>Matthijs de Graaf is internetondernemer van het eerste uur. In die rol is hij momenteel betrokken bij softwarebedrijf <a href="http://www.weev.nl" target="_blank">WEEV</a>, e-commerce specialist <a href="http://www.shopforce.nl" target="_blank">Shopforce</a> en dé online reserveringsoplossing voor de Braziliaanse markt: <a href="http://www.webquadras.com.br" target="_blank">WebQuadras</a>. Shopforce is een innovatieve online verkoopoplossing voor de detailhandel, in het bijzonder voor verswinkels. Matthijs bespreekt de impact die "online" zal hebben op de levensmiddelenmarkt en wat u kunt doen om uw omzet op peil te houden of te verhogen.</p>
          <ul>
            <li><a href="http://www.weev.nl" target="_blank">www.weev.nl</a></li>
            <li><a href="http://www.shopforce.nl" target="_blank">www.shopforce.nl</a></li>
            <li><a href="http://www.webquadras.com.br" target="_blank">www.webquadras.com.br</a></li>
          </ul>
        </figcaption>
      </figure>
  </li>
  <li>
      <figure>
        <img src="images/image-man3.jpg" alt="UW MEDEWERKERS MEER LATEN VERKOPEN!" />
        <figcaption>
          <h4>GEZONDHEID, ALLERGIEËN EN WETGEVING</h4>
          <p>Voeding staat genoeg in de spotlights de afgelopen periode. Naast alle media aandacht komt er nieuwe wetgeving over etikettering van voedingsproducten. Wat moet op uw product staan en hoe maakt u van deze verplichting een kans voor uw speciaalzaak? Welke voedingsadviezen en tips over gezondheid kunt u geven zodat u het onderscheid maakt? John van Sande, docent bij <a href="http://www.svo.nl"target="_blank">SVO Vakopleiding Food</a>, praat u bij over deze nieuwe wetgeving die in december 2014 actueel wordt.</p>
          <ul>
            <li><a href="http://www.svo.nl">www.svo.nl</a></li>
          </ul>
        </figcaption>
      </figure>
  </li>
</ul>
