<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8' />
	<meta name="description" content="Shopforce.github.io" />
	<link rel="stylesheet" type="text/css" media="screen" href="https://docs.google.com/static/forms/client/css/721343769-formview_ltr.css">
	<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
	<title>{{ site.title }}</title>
</head>
<body>

	<!-- HEADER -->
	{% include header.html %}

	<!-- MAIN CONTENT -->
	{{ content }}

	<!-- FOOTER  -->
	{% include footer.html %}

</body>
</html>
