<!DOCTYPE html>
<html>
<head>
	<meta charset="{{ site.encoding }}"/>
	<meta name="description" content="{{ site.description }}"/>
	<link rel="stylesheet" type="text/css" media="screen" href="https://docs.google.com/static/forms/client/css/721343769-formview_ltr.css">
	<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
	<title>{{ site.title }}{% if page.title %} - {{ page.title }} {% endif %}</title>
</head>
<body>

	<!-- HEADER -->
	{% include header.html %}

	<!-- MAIN CONTENT -->
	{{ content }}

	<!-- FOOTER  -->
	{% include footer.html %}



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="javascripts/main.js"></script>
{% include googleAnalytics.html %}

</body>
</html>
